# Ignore PyCharm files
.idea

# Ignore Python cache
avitoparser/__pycache__

# Ignore logs file
avitoparser/*.log

# Ignore dist
dist
avitoparser.egg-info

# Ignore .csv
avitoparser/*.csv

# Ignore lock file
poetry.lock